
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
}
.font-Raleway{
    font-family: "Raleway", sans-serif;
}

#TicketCounter {
    border-radius: 88px 88px 0px 0px;
    border-top: 2px solid #1DD100;
    background: #F7F8F8;
}
